{% extends 'stocks/base.html' %}

{% block content %}
<h1>Contact Us</h1>
<p>Thank you for your interest in Stock Predictor. If you have any questions, feedback, or concerns, please don't hesitate to reach out to us using the information below:</p>

<h2>Developer Contact</h2>
<p><strong>Name:</strong> Olgah Awuor</p>
<p><strong>Email:</strong> olgah29@hotmail.com</p>


<h2>Project Repository</h2>
<p>For technical details or to view the source code, you can visit our project repository:</p>
<p><a href="https://github.com/oomollo/Safaricom-stock-price-predictor.git" target="_blank">https://github.com/oomollo/Safaricom-stock-price-predictor.git</a></p>

<h2>Feedback</h2>
<p>We value your feedback! If you have any suggestions for improving Stock Predictor or if you've encountered any issues while using the application, please let us know. Your input helps us enhance the user experience and functionality of the tool.</p>

<h2>Academic Use</h2>
<p>Please note that Stock Predictor is a student project and is intended for academic and educational purposes only. The predictions and analyses provided should not be used as financial advice for real-world trading decisions.</p>
{% endblock %}